---
---

@import "theme";


body {
	padding-bottom: 100px;
}

nav.el-offer-bar{
	background-color: $primary !important;
	
	.navbar-brand {
		color: white;
	}
}



section.el-lesson {
	h1 {
		font-size: 140%;
	}
	h2 {
		font-size: 110%;
	}
	h3 {
		font-size: 110%;
	}
}