---
---

@import "theme";


body {
	padding-bottom: 100px;
}

nav.el-offer-bar{
	background-color: $primary !important;
	
	.navbar-brand {
		color: white;
	}
	
	.nav-link, .navbar-text {
		color: white;
		padding: 0;
	}

	.navbar-brand, .nav-link {
		font-size: 80%;
	}
	
}



section.el-lesson {
	h1 {
		font-size: 140%;
	}
	h2 {
		margin-top: 40px;
		font-size: 130%;
		border-bottom: 2px solid #DDD;
		margin-bottom: 15px;
	}
	h3 {
		margin-top: 50px;
		font-size: 120%;
		margin-bottom: 15px;
	}
	blockquote {
		padding-left: 20px;
		border-left: 4px solid #DDD;
	}
	blockquote, li {
		font-weight: 400;
		
		em {
			padding-left: 20px;
			color: #666;
			font-weight: 400;
		}
		strong {
			font-weight: 800;
		}
		
	}
	img {
	}
	table {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		td {
			text-align: center;
		}
	}
}