{% assign section = include.section  | default:"all"  %}
{% assign words = include.database  | where:"lesson",include.lesson  %}
{% assign words = words  | where:"class",include.class  %}
{% assign words = words  | where:"section",section  %}
{% assign count = 0 %}
{% assign WORDS_IN_TRIAL = 7 %}


<table>
{% tablerow word in words cols:3 %}
  {% if include.trial and count > WORDS_IN_TRIAL %}
    <img src="{{site.baseurl}}/lessons/trial_placeholder.jpg"  class="img-fluid img-thumbnail mx-auto d-block" />
  {% else %}
    <img src="{{site.baseurl}}/lessons/{{ word.image_url }}"  class="img-fluid img-thumbnail mx-auto d-block"  />
  {% endif %}
  
  
  {% if include.voiceover and word.ts_start and word.ts_stop %}
    <a class="el-vocab-play" id="play_{{ include.voiceover }}" 
      onclick="playat('{{ include.voiceover }}', {{ word.ts_start }}, {{ word.ts_stop }}, 
      '{{ include.class }}-{{ include.lesson }}', '{{ word.word_en }}');">▷ <strong>{{ word.word_en }}</strong></a>
  {% else %}
    <strong>{{ word.word_en }}</strong> 
  {% endif %}
  
  
  
  <br />
  
  {% if include.trial and count > WORDS_IN_TRIAL %}
  {% else %}
    {% if include.lang and include.lang == "pt" %}
      <em>{{ word.word_pt }}</em>
    {% elsif include.lang and include.lang == "vn"  %}
      <em>{{ word.word_vn }}</em>
    {% endif %}
  {% endif %}
  
  
  {% assign count = count | plus: 1 %}
{% endtablerow %}
</table>
