{% assign words = include.database  | where:"lesson",include.lesson  %}
{% assign words = words  | where:"class",include.class  %}
{% assign count = 0 %}
{% assign WORDS_IN_TRIAL = 7 %}


<table>
{% tablerow word in words cols:4 %}

  {% if include.trial and count > WORDS_IN_TRIAL %}
    <img src="/daily/lessons/premium_only.jpg"  class="img-fluid img-thumbnail mx-auto d-block" />
  {% else %}
    <img src="/daily/lessons/{{ word.image_url }}"  class="img-fluid img-thumbnail mx-auto d-block"  />
  {% endif %}
  
  <strong>{{ word.word_en }}</strong>
  <br />
  
  {% if include.trial and count > WORDS_IN_TRIAL %}
  {% else %}
    <em>{{ word.word_vn }}</em>
  {% endif %}
  
  
  {% assign count = count | plus: 1 %}
{% endtablerow %}
</table>
