---
layout: default
body_classes: 
---

  <div class="career-post-header" style="background-image: url('/images/{{ page.heropic }}');">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            {{ page.title }}
          </h1>
          <p>
            {{ page.subtitle }}
          </p>
        </div>
      </div>
    </section>
  </div>
  

<div class="career-post-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <section class="blog-post-content">
          {{ content }}
        </section>
      </div>
    </div>
  </div>
</div>