<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Till Carlos | Digital Marketing Consultant (SaaS, YouTube, Content, SEO)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="dist/theme.min.js"></script>
  <script src="dist/maerketing.js"></script>
  
</head>
<body class="{{page.body_classes}}">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="{{ page.navbar_classes | default: 'navbar navbar-toggleable-md navbar-inverse bg-transparent' }}" role="navigation">
    <div class="container no-override">
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <a class="navbar-brand" href="/">
        <img src="/images/logos/tillcarlos.png" class="hidden-md-down d-inline mr-2 w-25" />
        Till Carlos
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>


    
  {{ content }}


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="title">
            About Till Carlos
          </div>
          <ul class="menu">
            <li>
              <a href="/">Home</a>
            </li>
            
            <li><a href="/ventures">Ventures</a></li>
            <li><a href="/youtube">YouTube</a></li>
            <li><a href="/vn">
              <img src="/images/tillcarlos/tiengviet/vn.png" class='flag flag-text' /> Tiếng&nbsp;Việt</a>
            </li>
            <li><a class="btn btn-outline-info btn-sm" href="/connect">Connect</a></li>
            
            <li>
              <span style="color: white;">–––</span>
            </li>
            
            <li>
              <a href="/cv">Curriculum Vitae</a>
            </li>
            

          </ul>
        </div>
        <div class="col-md-4">
          <div class="title">
            Connect with me
          </div>
          <ul class="menu">
            <li>
              <a href="skype:tillcarlos">
                <i class="fa fa-skype"></i>
                Skype
              </a>
            </li>
            <li>
              <a href="tel:+19292601944">
                <i class="fa fa-phone"></i>
                +1 (929) 260 1944
              </a>
            </li>
            <li>
              <a href="mailto:till@tillcarlos.com">
                <i class="fa fa-envelope-o"></i>
                till@tillcarlos.com
              </a>
            </li>
            <li>
              <a href="https://medium.com/@tillcarlos">
                <i class="fa fa-medium"></i>
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/tillcarlos">
                <i class="fa fa-youtube"></i>
                YouTube
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 newsletter">
          <div class="title">
            Are you on mobile?
          </div>
          <p>
            If you want to get in touch with me, just drop your email address here.
            I will send you an overview via email to which you can respond.
          </p>
          

          <p>
            © 2017 Till Carlos
          </p>
        </div>
      </div>
      <div class="bottom">
      </div>
    </div>
  </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47567233-1', 'auto');
  ga('send', 'pageview');
</script>
  
</body>
</html>