<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnglishLetics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
    
    <script>
      
        function play(audio_id) {
            var audio = document.getElementById("audio_"+ audio_id);
            if (audio.paused) {
                audio.play();
                document.getElementById('play_'+ audio_id).innerHTML = '✔';
            }else{
                audio.pause();
                audio.currentTime = 0
                document.getElementById('play_'+ audio_id).innerHTML = '▶';
            }
        }
    </script>
        
        
  </head>

  <body>
    <nav class="navbar fixed-bottom navbar-light bg-light el-offer-bar">
      <a class="navbar-brand" href="#">EnglishLetics</a>


      <span class="navbar-text">
        <a class="nav-link" href="#">English for<br/><strong>Travel</strong></a>
      </span>
      <span class="navbar-text">
        <a class="nav-link" href="#">English for<br/><strong>Business</strong></a>
      </span>
  
       
    </nav>
    
    <div class="container">

      {{ content }}

    </div> <!-- /container -->
  </body>
</html>
