---
layout: englishletics_bot
body_classes: 
---

    <nav class="navbar fixed-bottom navbar-light bg-light el-offer-bar">
      <a class="navbar-brand" href="#">EnglishLetics</a>


    {% if site.trialdeploy %}
      <span class="navbar-text offer">
        {{page.salestext | default:"Free version"}}
        
        
        {% if page.class == "1" %}
          <a class="nav-link" href="{{ site.upgrade_level1 }}">Upgrade now</a>
        {% else %}
          <a class="nav-link" href="{{ site.upgrade_level2 }}">Upgrade now</a>
        {% endif %}
        
      </span>
    {% endif %}
    
  
       
    </nav>
    

    {% if site.trialdeploy %}
      <style>
    	  body { background-color: #ddd;}
      </style>
    {% endif %}
    
    <div class="container">

      <section class="el-lesson">

        <div class="container">
          <div class="row">
            <div class="col-12">
                {{ content }}
            </div>
          </div>
        </div>

      </section>

    </div> <!-- /container -->
    
    
