---
layout: englishletics_bot
body_classes: 
---

    <nav class="navbar fixed-bottom navbar-light bg-light el-offer-bar">
      <span class="navbar-brand">EnglishLetics</span>
        
      <span class="navbar-brand">
        {% if page.lang == "vn" %}
          <a class="nav-item nav-link help" href="{{ site.texts.vn.help_url }}">Ủng hộ</a>
        {% elsif page.lang == "pt" %}
          <a class="nav-item nav-link help" href="{{ site.texts.pt.help_url }}">Ajuda</a>
        {% else %}
          <a class="nav-item nav-link help" href="{{ site.texts.en.help_url }}">Help</a>
        {% endif %}
      </span>
    
    {% if site.trialdeploy %}
      <span class="navbar-text offer">
        
        {% if page.lang == "vn" %}
          {{page.salestext | default:"Phiên bản miễn phí"}}
          <a class="nav-link btn btn-info" href="{{ site.texts.vn.help_url }}">Nâng cấp!</a>
        {% elsif page.lang == "pt" %}
          {{page.salestext | default:"Versão Gratuita"}}
          <a class="nav-link btn btn-info" href="{{ site.texts.pt.help_url }}">Atualizar!</a>
        {% else %}
          {{page.salestext | default:"Free version"}}
          <a class="nav-link btn btn-info" href="{{ site.texts.en.help_url }}">Upgrade me!</a>
        {% endif %}
        
      </span>
    {% endif %}
    
  
       
    </nav>
    

    {% if site.trialdeploy %}
      <style>
    	  body { border-top: 2px solid #0000ff;}
      </style>
    {% endif %}
    
    <div class="container">

      <section class="el-lesson">

        <div class="container">
          <div class="row">
            <div class="col-12">
                {{ content }}
            </div>
          </div>
        </div>

      </section>

    <!--RATEBUTTONS-->
    </div> <!-- /container -->
    
    
