---
layout: englishletics_bot
body_classes: 
---

    <nav class="navbar fixed-bottom navbar-light bg-light el-offer-bar">
      <span class="navbar-brand">EnglishLetics
      </span>
    
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/pages/about.html">About</a>
        <a class="nav-item nav-link" href="/pages/support.html">Support</a>
      </div>

    {% if site.trialdeploy %}
      <span class="navbar-text offer">
        
        {% if page.lang == "vn" %}
          {{page.salestext | default:"Phiên bản dùng thử"}}
          <a class="nav-link btn btn-info" href="{{ site.texts.vn.upgrade_url }}">Nâng cấp!</a>
        {% elsif page.lang == "pt" %}
          {{page.salestext | default:"Limited Trial version"}}
          <a class="nav-link btn btn-info" href="{{ site.texts.pt.upgrade_url }}">Atualizar!</a>
        {% else %}
          {{page.salestext | default:"Limited Trial version"}}
          <a class="nav-link btn btn-info" href="{{ site.texts.en.upgrade_url }}">Upgrade me!</a>
        {% endif %}
        
      </span>
    {% endif %}
    
  
       
    </nav>
    

    {% if site.trialdeploy %}
      <style>
    	  body { border-top: 2px solid #0000ff;}
      </style>
    {% endif %}
    
    <div class="container">

      <section class="el-lesson">

        <div class="container">
          <div class="row">
            <div class="col-12">
                {{ content }}
            </div>
          </div>
        </div>

      </section>

    </div> <!-- /container -->
    
    
